footer {
    width: 100vw;
}

.footer {
    width: 100%;
    min-height: 10vh;
    max-height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

    .footer-line {
        position: relative;
        // top: 0;
        // width: 90vw;
        width: 100%;
        color: #ABB2B9;
        border-style: solid;
        border-bottom: 10px black;
    }
    .footer-side {
        // background-color: #FBFCFC;
        color: #ABB2B9;
    }
}